"ray[tune]"
Boruta
fastparquet
feature_engine
hyperopt
lightgbm
mlxtend
numpy==1.23.3
optuna
pandas==1.5.3
pathlib
pre-commit==2.15.0
pyarrow
pytest==5.4.1
python-dotenv==0.19.1
ray
sklearn-genetic
torch
torch_geometric
tune_sklearn
xgboost
xgboost_ray
